.header {
    background: url("/images/header-background.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: $white;
    text-align: center;

    .logo {
        background-color: rgba(0,0,0,.6);
        padding-bottom: 1em;
    }

    img {
        display: block;
        margin: 0 auto;
        padding-top: 1em;
        
    }
}


.header__nav {
    background-color: rgba(0,0,0,.6);

    @media only screen and (max-width: 760px) {
        display: none;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: center;
    }

    li a {
        text-decoration: none;
        display: block;
        color: white;
        border-radius: 4px;
        margin: 10px 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.1em;

        // Needs to be looked at
        &:hover {
            color: #333;
        }
    }
}

.header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;

    h1 {
        font-size: 3em;
    }    

    span {
        display: block;
        font-size: 0.5em;
        text-transform: uppercase;

    }
}

.btn__header {
    display: inline-block;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid #fff;
    transition: all .5s ease;
    border-radius: 4px;

    &:hover {
        background-color: rgba(0,0,0,.7);
    }
}

