.menucard {
    position: relative;
    background: url("../images/menucard/wood.jpg") no-repeat;
    background-size: cover;
   

    h2 {
        color: $gold;
        font-size: 2em;
        margin-bottom: 0;
    }

    h3 {
        color: $gold;
        font-family: 'Indie Flower', cursive;
        font-size: 1.5em;
    }

    &__tagline {
       margin-top: 0.4em;
       font-style: italic;
    }

}

.menucard__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3em;
    padding-top: -5vh;

     @media only screen and (max-width: 1070px) {
        grid-template-columns: 1fr;
        padding: 2em;
        
    }
}

.menucard__leftside {
    background: $white;
    padding: 1.5em 5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -7vh;

    @media only screen and (max-width: 760px) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.menucard__rightside {
    background: url("../images/menucard/dame.png") no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -7vh;

     @media only screen and (max-width: 1070px) {
        display: none;
    }
}

.menucard__menu {
    text-align: center;

    p:last-of-type::after {
        content: '';
        background: url("../images/menucard/eoko_guld.svg") no-repeat;
        padding-left: 20px;
    }
}

.menucard__ecology {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);

    @media only screen and (max-width: 800px) {
        display: none;
    }
}

.menucard__btn {
    display: inline-block;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    color: $gold;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid #333;
    // transition: all .5s ease;
    border-radius: 10px;

    &:hover {
        background-color: $red;
        transition: all .5s ease;
    }
}