// Variables 

// Colors
$white: #fff;
$blue: #45494B;
$gold: #BFA351;
$orange: #944125;
$red: #921225;
$green: #465D3B;

// Fonts 
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Indie Flower', cursive;

